/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #000000;
  --link-color: #000000;
  --border-color: #0f62fe;
  --navbar-bg-color: #ffffff;
  --button-bg-color: #000000;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #f4f4f4;
}

[data-theme="dark"] {
  --bg-color: #010409;
  --text-color: #ffffff;
  --link-color: #ff4b11;
  --border-color: #ff4b11;
  --navbar-bg-color: #010409;
  --button-bg-color: #1b1b1b;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #0d1117;
}

.app{
  background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the container takes up the full viewport height */
}

.header {
  background-color: var(--navbar-bg-color);
  flex-shrink: 0;
}

.header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
}

.header ul li {
  flex-grow: 1;
  display: flex; 
  align-items: center;
  background-color: var(--navbar-bg-color);
}

.header ul li a:hover {
  background-color: var(--button-hover-bg-color);
}

.header ul li a {
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
  align-items: center;
  display: block;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: 100%; 
  padding: 10px; 
  background-color: var(--navbar-bg-color);
}

.header ul li div {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.login {
  border-width: 4px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0.25rem;
  padding: 2rem; 
}

.cds--btn.cds--text-input--password__visibility__toggle.cds--tooltip__trigger{
  background-color: white;
}

.footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--footer-border-color);
}

.footer a {
  margin: 0 1rem;
  text-decoration: none;
  color: #0073b1; /* LinkedIn blue color */
}

.footer-separator {
  margin: 0 0.5rem;
}

.custom-border {
  border: 1.5px solid var(--border-color) !important; /* Force the 2px border with !important */
  background-color: var(--navbar-bg-color);
}

.divider{
  border-top: 1px solid var(--border-color);
  margin: 1rem 0;

}